body {
    background-color: #44403c;

    color: #d4d4d4;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1, h2, h3 {
    color: #7f1d1d;
}