body {
    background-color: #374151;
#
    color: #d4d4d4;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1, h2, h3 {
    color: #7f1d1d;
}

header{
    background-color: #6b7280;
}